
<launch>
   <!-- My Package launch file -->
   <node pkg="controller_pkg"
         type="move_robot.py"
         name="move_robot" 
         output="screen">
   </node>

   <!-- <node pkg="enph353_ros_lab"
         type="calculate_centroid.py"
         name="calculate_centroid" 
         output="screen">
   </node> -->
</launch>