
<launch>
   <node pkg="controller_pkg"
         type="PID_motion.py"
         name="PID_motion" 
         output="screen">
   </node>

   <node pkg="controller_pkg"
         type="scoring.py"
         name="scoring_manager" 
         output="screen">
   </node>

   <node pkg="controller_pkg"
         type="plate_id_v2.py"
         name="plate_id" 
         output="screen">
   </node>
</launch>